fastapi
uvicorn
motor
pymongo
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
requests
pandas
pyarrow
networkx
scikit-learn
numpy
rapidfuzz
python-dotenv
